---
import Layout from '../../layouts/Layout.astro';
import H1 from '../../components/H1.astro';
import Main from '../../components/Main.astro';
import miasta from '../../content/eventy/miasta.json'
import { Image } from 'astro:assets';
import { getEntry, render } from 'astro:content';
import TrustSection from '../../components/TrustSection.astro';


export async function getStaticPaths() {
    return miasta.map((miasto) => {
        return {
            params: { slug: miasto.slug },
            props: { info: miasto}
        };
    });
};

const { slug } = Astro.params;
const { info } = Astro.props;
const entry = await getEntry('templates', 'kurs-kpp');
const { Content } = await entry!.render();
---

<Layout title=`Eventy ratownicze ${info.city} - Pierwszapomoc-24``>
	<Main>
		<H1 text=`Kurs pierwszej pomocy ${info.city}`></H1>
        <div class="prose overflow-visible relative mb-20 text-tactical-text">    
            <Content />
        </div>
	</Main>
    <p>Szkolimy również w: 
        {miasta.filter(m => m.slug !== info.slug).slice(0, 2).map(m => (
            <a href={`/kurs-kpp-${m.slug}`}>{m.city}</a>
        ))}
    </p>
<!-- musze do powyzszego dodac region -->

    <TrustSection />
</Layout>