---
import { getCollection } from "astro:content"
import Main from "../components/Main.astro"
import Layout from "../layouts/Layout.astro"
import BlogList from "../components/BlogList.astro"
import Header from "../components/Header.astro"

const posts = await getCollection("blog")
---

<Layout title="Blog | PierwszaPomoc-24">
	<Main>
		<Header 
			title="PierwszaPomoc-24 Blog" 
			currentPage="Blog" 
		/>
        <BlogList posts = {posts}/>
	</Main>
</Layout>