---
import H1 from "../components/H1.astro"
import Main from "../components/Main.astro"
import Layout from "../layouts/Layout.astro"
import miasta from "../content/eventy/miasta.json"

---

<Layout title="Blog | PierwszaPomoc-24">
	<Main>
		<H1 text="PIERWSZA POMOC 24 Blog"></H1>
		<ul>
			{
				miasta.map(miasto => (
					<li><a href={`/eventy/kurs-pierwszej-pomocy-${miasto.slug}`}>Kurs pierwszej pomocy {miasto.city}</a></li>
				))
			}
		</ul>
	</Main>
</Layout>