---
import Main from '../components/Main.astro';
import Layout from '../layouts/Layout.astro';
import { Content, frontmatter } from '../content/polityka/polityka.md'
import Header from '../components/Header.astro';

---

<Layout title="PierwszaPomoc-24">
	<Main>
        <Header title=`${frontmatter.title}` currentPage=`${frontmatter.title}` />

        <div class="prose max-w-none overflow-visible relative mb-20 text-tactical-text prose-a:text-tactical-text">
            <Content />
        </div>		
	</Main>
</Layout>