---
const { theme = 'light' } = Astro.props

const themes = {
    dark: "bg-tactical-slate opacity-90",
    light: "bg-tactical-slate/40"
}

interface Props {
    theme?: 'dark' | 'light';
}

const currentTheme = themes[theme]

---

<div class=`${currentTheme} backdrop-blur-xl border border-white/10 p-8 rounded-br-3xl shadow-2xl`>
    <h3 class="text-tactical-text text-lg lg:text-xl font-black uppercase tracking-tighter mb-6 border-l-4 border-tactical-crimson pl-4">
        Szybki Kontakt
    </h3>
    <form action="#" class="space-y-4">
        <input type="text" placeholder="Imię i nazwisko" class="w-full bg-white/5 border border-white/10 p-4 text-tactical-text focus:border-tactical-crimson outline-none transition-all placeholder:text-slate-500" />
        <input type="email" placeholder="Adres E-mail" class="w-full bg-white/5 border border-white/10 p-4 text-tactical-text focus:border-tactical-crimson outline-none transition-all placeholder:text-slate-500" />
        <input type="tel" placeholder="Numer telefonu" class="w-full bg-white/5 border border-white/10 p-4 text-tactical-text focus:border-tactical-crimson outline-none transition-all placeholder:text-slate-500" />
        <input type="tel" placeholder="Dlugosc siurka" class="w-full bg-white/5 border border-white/10 p-4 text-tactical-text focus:border-tactical-crimson outline-none transition-all placeholder:text-slate-500" />
        <button class="w-full bg-tactical-crimson hover:bg-tactical-crimson-hover text-white font-bold py-4 rounded-br-xl transition-all uppercase tracking-widest shadow-lg">
            Wyślij zapytanie
        </button>
    </form>
</div>