---
import ContactForm from "./ContactForm.astro";
---

<section class="relative w-full min-h-screen flex items-center justify-center overflow-hidden bg-tactical-slate py-20">

    <div class="absolute inset-0 z-0 pointer-events-none">
        <video 
            autoplay 
            muted 
            loop 
            playsinline
            poster="/hero-fallback.png" 
            class="absolute inset-0 w-full h-full object-cover grayscale opacity-60"
        >
            <source src="/PierwszaPomoc24Intro.mp4" type="video/mp4" />
            Twoja przeglądarka nie wspiera formatu wideo.
        </video>
        
        <div class="absolute inset-0 bg-tactical-slate/50"></div>
    </div>

    <div class="container mx-auto px-4 relative z-10 grid lg:grid-cols-2 gap-12 text-left">
        <div class="max-w-8xl mx-auto">
          <h1 class="text-2xl lg:text-5xl font-black text-tactical-text mb-6 uppercase tracking-tight">
              PIERWSZAPOMOC-24 <br />
              <span class="text-tactical-crimson">Kurs pierwszej pomocy Warszawa</span>
          </h1>
          <hr class="border-red-500 border-0.5" />
          <p class="text-lg lg:text-2xl text-tactical-text mt-10 mb-10 max-w-8xl mx-auto">
              WARSZTATY DLA DZIECI, MŁODZIEŻY (PRZEDSZKOLI, SZKÓŁ PODSTAWOWYCH I LICEÓW) SZKOLENIA DLA FIRM, KORPORACJI INSTYTUCJI PUBLICZNYCH ORAZ GABINETÓW STOMATOLOGICZNYCH Z ZAKRESU PIERWSZEJ POMOCY.
          </p>
          
          <div class="flex flex-wrap gap-4 justify-center">
              <a href="#oferta" class="bg-tactical-crimson hover:bg-tactical-crimson-hover text-tactical-text px-10 py-4 rounded-br-lg font-bold transition-transform hover:scale-105 shadow-xl">
              NASZA OFERTA
              </a>
              <a href="tel:+48505742788" class="bg-tactical-grey hover:bg-tactical-grey-hover backdrop-blur-md text-tactical-text border border-white/30 px-10 py-4 rounded-br-lg font-bold transition-transform hover:scale-105 shadow-xl">
              KONTAKT
              </a>
          </div>
        </div>

        <ContactForm />     
    </div>
</section>