<section class="max-w-full mx-auto w-full relative h-[80vh] min-h-3/4 flex items-center justify-center overflow-hidden bg-tactical-slate">

    <div class="absolute inset-0 z-0 pointer-events-none">
        <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[115%] h-[115%] min-w-[177.77vh] min-h-[56.25vw]">
        <iframe
            class="w-full h-full grayscale opacity-60"
            src="https://www.youtube.com/embed/nmCKQMWBTsI?autoplay=1&mute=1&controls=0&loop=1&rel=0&showinfo=0&iv_load_policy=3&modestbranding=1"
            allow="autoplay; encrypted-media"
        ></iframe>
        </div>
        
        <div class="absolute inset-0 bg-tactical-slate/50"></div>
    </div>

    <div class="container mx-auto px-4 relative h-50 z-10 text-center">
        <div class="max-w-8xl mx-auto">
        <h1 class="text-4xl md:text-7xl font-black text-tactical-text mb-6 uppercase tracking-tight">
            PIERWSZAPOMOC-24 <br />
            <span class="text-tactical-crimson">Kurs pierwszej pomocy Warszawa</span>
        </h1>
        <hr class="border-red-500 border-0.5" />
        <p class="text-lg md:text-2xl text-tactical-text mt-10 mb-10 max-w-8xl mx-auto">
            WARSZTATY DLA DZIECI, MŁODZIEŻY (PRZEDSZKOLI, SZKÓŁ PODSTAWOWYCH I LICEÓW) SZKOLENIA DLA FIRM, KORPORACJI INSTYTUCJI PUBLICZNYCH ORAZ GABINETÓW STOMATOLOGICZNYCH Z ZAKRESU PIERWSZEJ POMOCY.
        </p>
        
        <div class="flex flex-wrap gap-4 justify-center">
            <a href="#oferta" class="bg-tactical-crimson hover:bg-tactical-crimson-hover text-tactical-text px-10 py-4 rounded-br-lg font-bold transition-transform hover:scale-105 shadow-xl">
            NASZA OFERTA
            </a>
            <a href="tel:+48123456789" class="bg-tactical-grey hover:bg-tactical-grey-hover backdrop-blur-md text-tactical-text border border-white/30 px-10 py-4 rounded-br-lg font-bold transition-transform hover:scale-105 shadow-xl">
            ZADZWOŃ TERAZ
            </a>
        </div>
        </div>
    </div>

</section>